class Datagouv < Formula
  desc "CLI for data.gouv.fr"
  homepage "https://github.com/datagouv/datagouv_cli"
  url "https://github.com/datagouv/datagouv_cli/releases/download/v@VERSION@/datagouv-macos-arm64"
  version "@VERSION@"
  sha256 "@SHA256_ARM64@"
  license "MIT"

  def install
    if Hardware::CPU.arm?
      bin.install "datagouv-macos-arm64" => "datagouv"
    else
      odie "Intel macOS builds require the generated universal formula from CI."
    end
  end

  test do
    assert_match "datagouv", shell_output("#{bin}/datagouv --help")
  end
end
